/*------------------------------------------
Navigation (toutes les instances)
------------------------------------------*/
/*Retirer le marqueur de liste pour toutes
les listes dans un élément de navigation */
nav ul, li{
    list-style-type: none;
}


/*Premier niveau en ligne*/
nav ul > li, nav a {
    display: inline-block;
}

/*Pour tous les liens de la navigation,
retirer le souligné, afficher comme des blocs en-ligne*/
nav a{
    text-decoration: none;
    display: inline-block;
}

/*Mettre en évidence les liens sur lesquel le pointeur
 (la mise en évidence est à votre choix.*/
li:hover{
    background-color: orangered;
}
/*------------------------------------------
header navigation (2 niveaux)
------------------------------------------*/

/*
Élément généraux
------------------------------------------*/
header nav {
   background-color: #0d0d0d;
}

header nav ul {
    padding : 0;
    margin : 0;
}

header nav a {
    color : white;
    padding : 1em 2em;
}

header ul > li {
    /* Pour positionner le 2e niveau */
    position : relative;
}

/*
2e niveau de la header navigation (les sous-menus)
------------------------------------------*/
header nav ul ul {
    /*À compléter : au début ils sont invisibles */
    display: none;
    width : max-content; /* prendre la largeur du texte le plus long */
    position : absolute; /* positionner par rapport au parent (li) */
    font-weight : normal; /* lorsque le parent est sélectionné, le texte devient en gras - remettre normal en attendant sous-sélection */
    padding-left: 0; /*par défaut les listes sont indentées; retirer l'espacement à gauche*/
    background-color : rgba(227, 227, 227, 0.5);
}

/*Sélectionner les items de liste (li) de 2e niveau */
li ul>li :hover nav ul{
    /*Dans les sous-menus les items sont un au dessus de l'autre */
    display: block;
    /*Ajouter une bordure dans le bas des items*/
    border-bottom: 1px solid orangered;
    background-color: rgba(54,54,54,0.9);
}

/* Quand on sélectionne un item dans la barre horizontale, afficher le sous-menu (bloc) */
nav> ul li:hover li ul{
    display: block;
}

/*Menu vertical sur les appareils étroits*/
@media (max-width: 500px) {
    header nav li {
        display : block;
    }
    header nav {
        padding-left : 0;
    }
    header nav ul, header nav ul ul {
        position : static;
        width : 100%;
    }
}
/*------------------------------------------
footer navigation (1 niveau)
------------------------------------------*/
footer nav {
    background-color: #000000;
    padding : 0.2em;
    margin-top : 2em;
    text-align: center;
    position : absolute;
    bottom : 0;
    width: 100%;
}

footer a {
    color: white;
    margin : 1em 5em;
}

